@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Tai+Viet&family=Roboto+Mono:ital,wght@1,500&display=swap');
body, li, p{
    margin: 0px;
    padding: 0px;
    font-family:'Times New Roman', Times, serif; 
    font-size: 1.4rem;
}
ul { 
    display: flex;
    text-align: center;
}
body { 
    background-color:#99FAA6 ;
}
ul { 
    display:flex;
    justify-content:space-between;
    list-style-type:none;
    align-items: center;
    padding: 16px;
}
h4, h3, h1{
    text-align: center;
    font-family: 'Roboto Mono', monospace;    
}
a{
    text-decoration: none;
    color: #000000;
}
.imagem-logo{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    float: left;
}
.nav{
    height: 100px;
    padding: 1%;
    background-color: green;
}
.nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    width: 70%;
    margin: 2.5%;
    padding-left: 10%;
}
.nav li{
    display: inline-block;
}
.nav a:hover{
    color: #5ac587;
}
.menu a{
    display: block;
    text-align: center;
    font-family: 'Noto Sans Tai Viet', sans-serif;
}
.menu a:hover{
    color: #99FAA6;
}
#container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
    background-color: #5ac587;    
}
img{
    width: 300px;
    height: 200px;
}
.item1{
    background-color: #99FAA6;
    color: rgb(0, 0, 0);
    padding: 20px;
    margin: 5px;
    width: 300px;
    height: 720px;
}
.item1 p{
    text-align: justify;
}
.item2{
    background-color: #99FAA6;
    color: rgb(0, 0, 0);
    padding: 20px;
    margin: 5px;
    width: 300px;
    height: 610px;
}
.item2 p{
    text-align: justify;
}
.body-historia{
    width: 100vw;
    height: 80vh;
    background-color: #5ac587;
    display: flex;
}
.body-historia p{
    text-align: justify;
    margin: 5%;
    border: 5px solid  #0bc524;
    padding: 3%;
}
.body-historia img{
    margin: 10%;
    width: 110%;
    height: 80%;
    border-radius: 10%;
    border: 5px solid  #0bc524;
}
.body-historia-conteudo{
    margin-top: 5%;
    display: flex;
}
.historia{
    width: 50%;
}
.body-sobre{
    width: 100vw;
    height: 80vh;
    background-color: #5ac587 ;
    display: flex;
}
.body-sobre p{
    text-align: justify;
    margin: 5%;
    border: 5px solid  #0bc524;
    padding: 3%;
}
.body-sobre img{
    margin: 7.5%;
    width: 100%;
    height: 75%;
    border-radius: 10%;
    border: 5px solid  #0bc524;
}
.body-sobre-conteudo{
    margin-top: 5%;
    display: flex;
}
.sobre{
    width: 50%;
}